@model MotorApp.BusinessEntities.DashBoard
@using MotorApp.BAL;
@using MotorApp.BusinessEntities;
@{ ViewBag.Title = "Home Page"; }
@{List<SelectListItem> lstYear = new List<SelectListItem>(); }
@if (Model != null)
{

    lstYear = new List<SelectListItem>();
    if (Model.lstYears != null)
    {
        foreach (var item in Model.lstYears)
        {
            lstYear.Add(new SelectListItem
            {
                Text = item.ToString(),
                Value = item.ToString()
            });
        }
    }

}


@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @name = "Form1" }))
{
<div class="d-sm-flex align-items-center justify-content-between mb-2">
    <h1 class="h3 mb-0 text-gray-800">MIS Dashboard</h1>
    @if (ViewBag.RoleId == 1)
    {
<div class="d-none">
    <label for="cars">Choose Role</label>
    <div class="col-md-2">

        @Html.DropDownList("Role",
                                                                        new SelectList(Enum.GetValues(typeof(MotorInsRoles))),
                                                                        "Select Role",
                                                                        new { @class = "form-control form-control-sm" })
    </div>
    <label for="cars">Choose Producer</label>
    <div class="col-md-2">
        <select class="form-control  form-control-sm" name="ddlProducer" id="ddlProducer"><option value="0">--Select Producer--</option></select>
    </div>
    <input class="btn btn-primary btn-sm" type="submit" value="Search" />
</div>}
    <ol class="breadcrumb my-2">
        <li class="breadcrumb-item"><a href="./">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">MIS Dashboard</li>
    </ol>
</div>      }
<div class="row mb-3">
    @*Sample Dashboard Items*@
    <div class="col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <div class="row ">
                    <div class="col-md-7">
                        <div>
                            <h4 class="content-color-primary my-0 mb-4">Policy Report - Monthly</h4>

                            <div class="d-flex justify-content-between">
                                <div class=" mb-0  text-gray-800 w-100">
                                    @if (Model != null)
                                    {
                        <div class="d-flex justify-content-between">
                            <label class="font-14">Total Available (No. of Policies) </label>
                            <label class="text-primary font-weight-bold font-14 ">
                                @Model.TNPMonth
                            </label>
                        </div>
                                        <div class="d-flex justify-content-between">
                                            <label class="font-14">Renewed (No of Policies)</label>
                                            <label class="text-success font-weight-bold font-14">@Model.TNPRenewedMonth</label>
                                        </div>
                                                        <div class="d-flex justify-content-between">
                                                            <label class="font-14">Under Process (No. of Policies)</label>
                                                            <label class="text-warning font-weight-bold font-14">@Model.TNPUnderProcessMonth</label>
                                                        </div>
                                                                        <div class="d-flex justify-content-between">
                                                                            <label class="font-14">Lost (No. of Policies)</label>
                                                                            <label class="text-danger font-weight-bold font-14">@Model.TNPLostMonth</label>
                                                                        </div>}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div id="monthly-policy" class="morris-charts" style="height: 200px;width: 100%"></div>
                    </div>
                </div>
                @if (Model != null)
                {
    <div class="mt-2 mb-0 text-muted d-none">
        <span class="text-success mr-2 font-14"><i class="fa fa-arrow-up"></i> @Model.PercentageRenewedMonth %</span>
        <span class="font-14">Progress since last month</span>
    </div>}
            </div>

        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <div class="row ">
                    <div class="col-md-7">
                        @if (Model != null)
                        {
                            <div class="d-flex justify-content-between mb-4">
                                <div>
                                    <h4 class="content-color-primary my-0 ">Policy Report - Yearly</h4>
                                </div>
                                <div>
                                    @Html.DropDownListFor(model => model.lstYears, lstYear, "-- Select Year --",
                                                            new { @class = "form-control form-control-sm", @onchange = "javascript:GetSpecificYearWR(this.value);" })
                                </div>
                            </div>
            


                            <div class="d-flex justify-content-between">

                                <div class=" mb-0  text-gray-800 w-100">
                                    <div class="d-flex justify-content-between">
                                        <label class="font-14">Total Available (No. of Policies) </label>
                                        <label id="lblTNPYear" class="text-primary font-weight-bold font-14 ">@Model.TNPYear</label>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <label class="font-14">Renewed (No of Policies)</label>
                                        <label id="lblTNPRenewedYear" class="text-success font-weight-bold font-14">@Model.TNPRenewedYear</label>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <label class="font-14">Under Process (No. of Policies)</label>
                                        <label id="lblTNPUnderProcessYear" class="text-warning font-weight-bold font-14">@Model.TNPUnderProcessYear</label>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <label class="font-14">Lost (No. of Policies)</label>
                                        <label id="lblTNPLostYear" class="text-danger font-weight-bold font-14">@Model.TNPLostYear</label>
                                    </div>
                                </div>

                            </div>}
                    </div>
                    <div class="col-md-5">
                        <div id="yearly-policy" class="morris-charts" style="height: 200px;width: 100%"></div>
                    </div>
                </div>
                @if (Model != null)
                {
    <div class="mt-2 mb-0 text-muted d-none ">
        <span id="lblPercentageRenewedYear" class="text-success mr-2 font-14"><i class="fa fa-arrow-up"></i> @Model.PercentageRenewedYear  %</span>
        <span class="font-14">Progress since last year</span>
    </div>}
            </div>

        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <div class="row ">
                    <div class="col-md-7">
                        <div>
                            <h4 class="content-color-primary my-0 mb-5">Premium Report - Monthly</h4>

                            <div class="d-flex justify-content-between">
                                <div class=" mb-0  text-gray-800 w-100">
                                    @if (Model != null)
                                    {
                        <div class="d-flex justify-content-between">
                            <label class="font-14">Renewal Premium available </label>
                            <label class="text-primary font-weight-bold font-14 ">OMR @Model.TNPMonthPremium</label>
                        </div>
                                        <div class="d-flex justify-content-between">
                                            <label class="font-14">Renewed </label>
                                            <label class="text-success font-weight-bold font-14">OMR @Model.TNPRenewedMonthPremium</label>
                                        </div>
                                                        <div class="d-flex justify-content-between">
                                                            <label class="font-14">Under Process </label>
                                                            <label class="text-warning font-weight-bold font-14">OMR @Model.TNPUPMonthPremium</label>
                                                        </div>
                                                                        <div class="d-flex justify-content-between">
                                                                            <label class="font-14">Lost </label>
                                                                            <label class="text-danger font-weight-bold font-14">OMR @Model.TNPLostMonthPremium</label>
                                                                        </div>}
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 pt-5">
                        <canvas id="MonthlyPremiumChart" height="250"></canvas>
                    </div>
                </div>
                @if (Model != null)
                {
    <div class="mt-2 mb-0 text-muted d-none">
        <span class="text-success mr-2 font-14"><i class="fa fa-arrow-up"></i>@Model.PercentPremiumRenewedMonth  %</span>
        <span class="font-14">Progress since last month</span>
    </div>}
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <div class="row ">
                    <div class="col-md-7">
                        <div>
                            <h4 class="content-color-primary my-0 mb-5">Premium Report - Yearly</h4>

                            <div class="d-flex justify-content-between">
                                <div class=" mb-0  text-gray-800 w-100">
                                    @if (Model != null)
                                    {
                        <div class="d-flex justify-content-between">
                            <label class="font-14">Renewal Premium available </label>
                            <label id="lblTNPYearPremium" class="text-primary font-weight-bold font-14 ">OMR @Model.TNPYearPremium</label>
                        </div>
                                        <div class="d-flex justify-content-between">
                                            <label class="font-14">Renewed </label>
                                            <label id="lblTNPRenewedYearPremium" class="text-success font-weight-bold font-14">OMR @Model.TNPRenewedYearPremium</label>
                                        </div>
                                                        <div class="d-flex justify-content-between">
                                                            <label class="font-14">Under Process </label>
                                                            <label id="lblTNPUPYearPremium" class="text-warning font-weight-bold font-14">OMR @Model.TNPUPYearPremium</label>
                                                        </div>
                                                                        <div class="d-flex justify-content-between">
                                                                            <label class="font-14">Lost </label>
                                                                            <label id="lblTNPLostYearPremium" class="text-danger font-weight-bold font-14">OMR @Model.TNPLostYearPremium</label>
                                                                        </div>}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 pt-5">
                        <canvas id="YearlyPremiumChart" height="250"></canvas>
                    </div>
                </div>
                @if (Model != null)
                {
    <div class="mt-2 mb-0 text-muted d-none">
        <span id="lblPercentPremiumRenewedYear" class="text-success mr-2 font-14"><i class="fa fa-arrow-up"></i>@Model.PercentPremiumRenewedYear  %</span>
        <span class="font-14">Progress since last year</span>
    </div>}
            </div>
        </div>
    </div>

    @*End of Sample Dashboard Items*@

    <!-- Earnings (Monthly) Card Example -->
    @*@if (Model != null)*@
    @if (false)
    {

<div class="col-xl-3 col-md-6 mb-4">
    <div class="card h-100">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col ">
                    <div class="text-xs font-weight-bold text-uppercase mb-1">
                        Total Policies to be renewed
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                        @Model.TNPRenewedYear
                    </div>
                    <div class="mt-2 mb-0 text-muted text-xs ">
                        @*<span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>*@
                        <span>Progress since last year</span>
                    </div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-primary"></i>
                </div>
            </div>
        </div>
    </div>
</div> <!-- Earnings (Annual) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-uppercase mb-1">Total Policies OnHold</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotPolforRenewal</div>
                                    <div class="mt-2 mb-0 text-muted text-xs">
                                        @*<span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>*@
                                        <span>Progress since last years</span>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-shopping-cart fa-2x text-success"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- New User Card Example -->
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-uppercase mb-1">No of Policies renewed</div>
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@Model.NoOfPoRenewed</div>
                                                    <div class="mt-2 mb-0 text-muted text-xs">
                                                        @*<span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 20.4%</span>*@
                                                        <span>Progress since last month</span>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-users fa-2x text-info"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- Pending Requests Card Example -->
                                                <div class="col-xl-3 col-md-6 mb-4">
                                                    <div class="card h-100">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col mr-2">
                                                                    <div class="text-xs font-weight-bold text-uppercase mb-1">Policies Lost</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.PolicyLost</div>
                                                                    <div class="mt-2 mb-0 text-muted text-xs">
                                                                        @*<span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>*@
                                                                        <span>Progress since yesterday</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="fas fa-comments fa-2x text-warning"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> if (ViewBag.RoleId == 1)
                                                {

                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col ">
                                                    <div class="text-xs font-weight-bold text-uppercase mb-1">
                                                        Total Policies to be renewed
                                                    </div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                        @Model.TotPoltoBeRenewedCM
                                                    </div>
                                                    <div class="mt-2 mb-0 text-muted text-xs">
                                                        @*<span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>*@
                                                        <span>Progress since last year</span>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-calendar fa-2x text-primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- Earnings (Annual) Card Example -->
                                                    <div class="col-xl-3 col-md-6 mb-4">
                                                        <div class="card h-100">
                                                            <div class="card-body">
                                                                <div class="row no-gutters align-items-center">
                                                                    <div class="col mr-2">
                                                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Total Policies OnHold</div>
                                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotPolforRenewalCM</div>
                                                                        <div class="mt-2 mb-0 text-muted text-xs">
                                                                            @*<span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>*@
                                                                            <span>Progress since last years</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <i class="fas fa-shopping-cart fa-2x text-success"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> <!-- New User Card Example -->
                                                                        <div class="col-xl-3 col-md-6 mb-4">
                                                                            <div class="card h-100">
                                                                                <div class="card-body">
                                                                                    <div class="row no-gutters align-items-center">
                                                                                        <div class="col mr-2">
                                                                                            <div class="text-xs font-weight-bold text-uppercase mb-1">No of Policies renewed</div>
                                                                                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@Model.NoOfPoRenewedCM</div>
                                                                                            <div class="mt-2 mb-0 text-muted text-xs">
                                                                                                @*<span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 20.4%</span>*@
                                                                                                <span>Progress since last month</span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-auto">
                                                                                            <i class="fas fa-users fa-2x text-info"></i>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div> <!-- Pending Requests Card Example -->
                                                                                            <div class="col-xl-3 col-md-6 mb-4">
                                                                                                <div class="card h-100">
                                                                                                    <div class="card-body">
                                                                                                        <div class="row no-gutters align-items-center">
                                                                                                            <div class="col mr-2">
                                                                                                                <div class="text-xs font-weight-bold text-uppercase mb-1">Policies Lost</div>
                                                                                                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.PolicyLostCM</div>
                                                                                                                <div class="mt-2 mb-0 text-muted text-xs">
                                                                                                                    @*<span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>*@
                                                                                                                    <span>Progress since yesterday</span>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="col-auto">
                                                                                                                <i class="fas fa-comments fa-2x text-warning"></i>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>}
                                                                                    }
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
        <div class="card mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Monthly Report</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                         aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            @if (Model != null)
            {
<div class="card-body">
    <ul class="list-inline widget-chart m-t-20 m-b-15 text-center">
        <li class="list-inline-item">
            <h5>@Model.TNPUnderProcessYear</h5>
            <p class="text-muted">
                TOTAL POLICIES TO BE RENEWED
            </p>
        </li>
        <li class="list-inline-item">
            <h5>@Model.TNPRenewedYear</h5>
            <p class="text-muted">TOTAL POLICIES RENEWED</p>
        </li>
        <li class="list-inline-item">
            <h5>@Model.TNPLostYear</h5>
            <p class="text-muted">TOTAL POLICIES LOST</p>
        </li>
    </ul>
    <div class="chart-area">
        <div id="morris-bar-example" class="morris-charts" style="height: 300px"></div>
    </div>
</div>}
        </div>
    </div>
    <!-- Pie Chart -->
    <!-- Invoice Example -->
    <div class="col-xl-8 col-lg-7 mb-4 d-none">
        <div class="card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Policy Table</h6>
                <a class="m-0 float-right btn btn-danger btn-sm" href="#">
                    View More <i class="fas fa-chevron-right"></i>
                </a>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th>Policy Number</th>
                            <th>Customer Name</th>
                            <th>Item</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">RA0449</a></td>
                            <td>Udin Wayang</td>
                            <td>Nasi Padang</td>
                            <td><span class="badge badge-success">Delivered</span></td>
                            <td><a href="#" class="btn btn-sm btn-primary">Detail</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">RA5324</a></td>
                            <td>Jaenab Bajigur</td>
                            <td>Gundam 90' Edition</td>
                            <td><span class="badge badge-warning">Processing</span></td>
                            <td><a href="#" class="btn btn-sm btn-primary">Detail</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">RA8568</a></td>
                            <td>Rivat Mahesa</td>
                            <td>Oblong T-Shirt</td>
                            <td><span class="badge badge-danger">Pending</span></td>
                            <td><a href="#" class="btn btn-sm btn-primary">Detail</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">RA1453</a></td>
                            <td>Indri Junanda</td>
                            <td>Hat Rounded</td>
                            <td><span class="badge badge-info">Processing</span></td>
                            <td><a href="#" class="btn btn-sm btn-primary">Detail</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">RA1998</a></td>
                            <td>Udin Cilok</td>
                            <td>Baby Powder</td>
                            <td><span class="badge badge-success">Delivered</span></td>
                            <td><a href="#" class="btn btn-sm btn-primary">Detail</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
    <!-- Message From Customer-->
    <div class="col-xl-4 d-none">
        <div class="card-box">
            <div class="dropdown float-right">
                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-dots-horizontal"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Settings</a>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Download</a>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Upload</a>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                </div>
            </div>
            <h4 class="header-title">Earning Reports</h4>
            <p class="text-muted">1 Mar - 31 Mar Showing Data</p>
            <h2 class="mb-4"><span class="text-primary">$ </span>25,632.78</h2>
            <div class="row mb-4">
                <div class="col-6">
                    <p class="text-muted mb-1">This Month</p>
                    <h3 class="mt-0 font-20">$120,254 <small class="badge badge-light-success font-13">+15%</small></h3>
                </div>
                <div class="col-6">
                    <p class="text-muted mb-1">Last Month</p>
                    <h3 class="mt-0 font-20">$98,741 <small class="badge badge-light-danger font-13">-5%</small></h3>
                </div>
            </div>
            <h5 class="font-16"><i class="mdi mdi-chart-donut text-primary"></i> Weekly Earning Report</h5>
            <div class="mt-5">
                <span data-plugin="peity-bar" data-colors="#f7b84b,#ebeff2" data-width="100%"
                      data-height="80">5,3,9,6,5,9,7,3,5,2,9,7,2,1,3,5,2,9,7,2,5,3,9,6,5,9,7</span>
            </div>
        </div> <!-- end card-box -->
    </div> <!-- end col -->
    <div class="col-xl-4 col-lg-5 hide">
        <div class="card mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Products Sold</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle btn btn-primary btn-sm" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Month <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                         aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Select Periode</div>
                        @*<a class="dropdown-item" href="#">Today</a>
                            <a class="dropdown-item" href="#">Week</a>*@
                        <a class="dropdown-item active" href="#">Month</a>
                        <a class="dropdown-item" href="#">This Year</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <div class="small text-gray-500">
                        Total Number of Policies
                        <div class="small float-right"><b>600 of 800 Items</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="small text-gray-500">
                        Total Number of Policies Pending
                        <div class="small float-right"><b>500 of 800 Items</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="small text-gray-500">
                        Total Number of Policies Done
                        <div class="small float-right"><b>455 of 800 Items</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 55%" aria-valuenow="55"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="small text-gray-500">
                        Total Number of Policies Lost
                        <div class="small float-right"><b>400 of 800 Items</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <a class="m-0 small text-primary card-link" href="#">
                    View More <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</div> <!--Row-->
<script type="text/javascript">
    function GetSpecificYearWR(Year) {

        if (Year == "") {
            var dt = new Date();
            Year = dt.getFullYear();
        }
        var url = "/Home/GetSpecificYearWiseReport/";

        $.ajax({
            url: url,
            data: { Years: Year },
            cache: false,
            type: "GET",
            success: function (data) {
                document.getElementById('lblTNPYear').innerHTML = data.list.TNPYear;
                document.getElementById('lblTNPRenewedYear').innerHTML = data.list.TNPRenewedYear;
                document.getElementById('lblTNPUnderProcessYear').innerHTML = data.list.TNPUnderProcessYear;
                document.getElementById('lblTNPLostYear').innerHTML = data.list.TNPLostYear;
                document.getElementById('lblPercentageRenewedYear').innerHTML = data.list.PercentageRenewedYear;
                document.getElementById('lblTNPYearPremium').innerHTML = data.list.TNPYearPremium;
                document.getElementById('lblTNPRenewedYearPremium').innerHTML = data.list.TNPRenewedYearPremium;
                document.getElementById('lblTNPUPYearPremium').innerHTML = data.list.TNPUPYearPremium;
                document.getElementById('lblTNPLostYearPremium').innerHTML = data.list.TNPLostYearPremium;
                document.getElementById('lblPercentPremiumRenewedYear').innerHTML = data.list.PercentPremiumRenewedYear;


            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
    $(document).ready(function () {
        $("#Role").on("change", function () {
            var RoleId = $('#Role').val();
            $("#ddlProducer option").remove();
            $.ajax({
                type: "GET", url: "GetProducerInfo?RoleId=" + RoleId + "", dataType: "json", contentType: "application/json", success: function (res) {
                    $.each(res.list, function (data, value) {

                        $("#ddlProducer").append($("<option></option>").val(value.UserName).html(value.ProducerName));
                    })
                }

            });
        });
    });
</script>


<script>
        var chartData = [];
        !function ($) {
            "use strict";

            var Dashboard = function () {
            };



            //creates Donut chart
            Dashboard.prototype.createDonutChart = function (element, data, colors) {
                Morris.Donut({
                    element: element,
                    data: data,
                    resize: true,
                    colors: colors
                });
            },
            Dashboard.prototype.init = function () {

                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: "GetRevenueByYear",
                    data: "{}",
                    dataType: "json",
                    success: function (Result) {
                        chartData = Result.list;
                        Morris.Bar({
                            element: 'morris-bar-example',
                            data: chartData,
                            xkey: 'y',
                            ykeys: ['a', 'b', 'c'],
                            labels: ['Lost Policies', 'Policy Renewed', 'Pending Policies'],
                            gridLineColor: '#eef0f2',
                            barSizeRatio: 0.4,
                            xLabelAngle: 45,
                            resize: true,
                            hideHover: 'auto',
                            barColors: ['#30419b', '#02c58d', '#ffa426']
                        });
                    },
                    error: function (Result) {
                        alert("Error");
                    }
                });
            },
                //init
            $.Dashboard = new Dashboard, $.Dashboard.Constructor = Dashboard
        }(window.jQuery);

            //initializing
        window.onload = function () {
            window.MPmyBar = new Chart(document.getElementById('MonthlyPremiumChart'), {
                type: 'bar',
                data: {
                    labels: ['Renewal', 'Renewed', 'Under Process', 'Lost'],
                    datasets: [{
                        backgroundColor: ['#6777EF', '#66bb6a', '#ffa426', '#fc544b'],
                        data: [
                            @ViewBag.TNPMonthPremium,
                            @ViewBag.TNPRenewedMonthPremium,
                            @ViewBag.TNPUPMonthPremium,
                            @ViewBag.TNPLostMonthPremium,
                            //100548,
                            //150780,
                            //50125
                        ]
                    }]

                },
                options: {
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    legend: {
                        display: false,
                    },
                    responsive: true,
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                callback: function (label, index, labels) {
                                    return label / 1000 + 'k';
                                }
                            }
                        }]
                    }
                }
            });
            window.YPmyBar = new Chart(document.getElementById('YearlyPremiumChart'), {
                type: 'bar',
                data: {
                    labels: ['Renewal', 'Renewed', 'Under Process', 'Lost'],
                    datasets: [{
                        backgroundColor: ['#6777EF', '#66bb6a', '#ffa426', '#fc544b'],
                        data: [
                                @ViewBag.TNPYearPremium,
                                @ViewBag.TNPRenewedYearPremium,
                                @ViewBag.TNPUPYearPremium,
                                @ViewBag.TNPLostYearPremium
                        ]
                    }]

                },
                options: {
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    legend: {
                        display: false,
                    },
                    responsive: true,
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                callback: function (label, index, labels) {
                                    return label / 1000 + 'k';
                                }
                            }
                        }]
                    }
                }
            });
                var $monthlypolicy = [
                    { label: "Total Available ", value: @ViewBag.TNPMonth },
                    { label: "Renewed", value:  @ViewBag.TNPRenewedMonth },
                    { label: "Under Process ", value:  @ViewBag.TNPUnderProcessMonth },
                    { label: "Lost ", value:  @ViewBag.TNPLostMonth}
                ];
            var $yearlypolicy = [
                    { label: "Total Available ", value: @ViewBag.TNPYear },
                    { label: "Renewed", value: @ViewBag.TNPRenewedYear },
                    { label: "Under Process ", value: @ViewBag.TNPUnderProcessYear },
                    { label: "Lost ", value: @ViewBag.TNPLostYear }
            ];
            setTimeout(function () {

            "use strict";
            $.Dashboard.init();
            //$.Dashboard.createDonutChart('morris-donut-example', $donutData, ['#fcbe2d', '#30419b', '#02c58d']);
            $.Dashboard.createDonutChart('monthly-policy', $monthlypolicy, ['#6777EF', '#66bb6a', '#ffa426', '#fc544b']);
            $.Dashboard.createDonutChart('yearly-policy', $yearlypolicy, ['#6777EF', '#66bb6a', '#ffa426', '#fc544b']);
            }, 100);
        }
</script>
