@model IEnumerable<MotorApp.BusinessEntities.Insurance>
@using MotorApp.BusinessEntities;
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Lost",
        Value = "Lost"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Renewed",
        Value = "Renewed"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Under Process",
        Value = "Under Process"
    });
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Master Motor</h1>
    <ol class="breadcrumb my-2">
        <li class="breadcrumb-item">
            <a href="./">Home</a>
        </li>
        <li class="breadcrumb-item">Masters</li>
        <li class="breadcrumb-item active" aria-current="page">Master Motor</li>
    </ol>
</div>
<div class="row">
    <div class="col-lg-12 mb-4">
        <div class="card mb-3">
            <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Search</h6>
            </div>
            <form id="MotorForm">
                <div class="card-body">
                    <div class="row">
                        @using (Html.BeginForm("MasterDatabase", "Home", FormMethod.Get))
                        {
                            <div class="col-2">
                                @*<input class="form-control form-control-sm  mb-3" name="PolicyNo" type="text" placeholder="Policy No">*@
                                @Html.TextBox("PolicyNo", "", new { @class = "form-control form-control-sm  mb-3", PlaceHolder = "Policy No" })
                            </div>
                            <div class="col-2">
                                @*<input class="form-control form-control-sm  mb-3" name="DivisionName" type="text" placeholder="Division Name">*@
                                @Html.TextBox("DivisionName", "", new { @class = "form-control form-control-sm  mb-3", PlaceHolder = "Division Name" })
                            </div>
                            <div class="col-2">
                                @*<input class="form-control form-control-sm  mb-3" name="AssuredName" type="text" placeholder="Assured Name">*@
                                @Html.TextBox("AssuredName", "", new { @class = "form-control form-control-sm  mb-3", PlaceHolder = "Assured Name" })
                            </div>
                            <div class="col-2">
                                @*<input class="form-control form-control-sm  mb-3" name="ProductName" type="text" placeholder="Product Name">*@
                                @Html.TextBox("ProductName", "", new { @class = "form-control form-control-sm  mb-3", PlaceHolder = "Product Name" })
                            </div>
                            <div class="col-2">
                                @*<select class="form-control form-control-sm" name="Status" id="Status">
                                        <option value="">-Select-</option>
                                        <option value="Lost">Lost</option>
                                        <option value="Renewed">Renewed</option>
                                        <option value="Under process">Under Process</option>
                                    </select>*@
                                @Html.DropDownList("Status", listItems, "-- Select Status --", new { @class = "form-control form-control-sm" })
                            </div>
                            <div class="col-2 text-center">
                                @*
                                    <a>Search</a>*@
                                @*
                                    <button class="btn btn-primary btn-sm" type="button">
                                    <i class="fas fa-search fa-sm"></i> Search
                                    </button>*@
                                <input class="btn btn-primary btn-sm" type="submit" value="Search" />
                                @*<input type="button" value="Submit" id="btnsubmit" onclick="submitForm()">*@

                                <button type="button" id="btnClear" class="btn btn-secondary btn-sm waves-effect">Clear</button>
                            </div>
                        }
                    </div>
                </div>
            </form>
        </div>
        <!-- Simple Tables -->
        <div class="card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">List of Motor Policies</h6>
                <div class="d-none">
                    <input type="file" name="postedFile" id="fileUploadMotor" accept=".xls,.xlsx" />
                    <input type="hidden" id="txtMotorMaster" name="txtMotorMaster" value="1">
                    @*
                        <button type="submit" id="btnUpload" class="btn btn-success btn-sm waves-effect">Upload Data</button>*@
                </div>
                @if (ViewBag.RoleId == 1)
                {
                    <div>
                        <a class="btn btn-primary btn-sm mx-1" href="MotorInsurance#step-1">
                            <i class="fas fa-user-plus fa-sm"></i> Add
                            Single Policy
                        </a>
                        <button class="btn btn-primary btn-sm mx-1" type="button" data-toggle="modal" data-backdrop="static"
                                data-target="#uploadBulk">
                            <i class="fas fa-upload fa-sm"></i> Bulk Upload Policy
                        </button>

                    </div>
                }
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tblMotor" class="table align-items-center table-flush">
                        <thead>
                            <tr>
                                <th>Policy No</th>
                                <th>Division Name</th>
                                <th>Insurance Type</th>
                                <th>Policy Start Date</th>
                                <th>Policy End Date</th>
                                <th>Status</th>

                                <th>Actions</th>

                            </tr>
                        </thead>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td colspan="5"></td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.PolicyNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DivisionName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.InsType)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PolicyFromDate)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PolicyToDate)</td>

                                    <td>
                                        @if (item.Status.Equals("Renewed"))
                                        {
                                            <span class="badge badge-success">@Html.DisplayFor(modelItem => item.Status)</span>
                                        }

                                        @if (item.Status.Equals("Lost"))
                                        {
                                            <span class="badge badge-danger">@Html.DisplayFor(modelItem => item.Status)</span>
                                        }
                                        @if (item.Status.Equals("Under Process"))
                                        {
                                            <span class="badge badge-info">@Html.DisplayFor(modelItem => item.Status)</span>
                                        }
                                        @if (item.Status.Equals(""))
                                        {
                                            <span class="badge badge-info"></span>
                                        }
                                    </td>
                                    <td class="d-flex flex-row align-items-center justify-content-between">
                                        <i class="fas fa-eye pointer" aria-hidden="true" data-toggle="modal"
                                           data-target="#myModal" data-backdrop="static" data-keyboard="false" onclick="renewal(@item.InsuranceID)"></i>
                                        @if (ViewBag.RoleId == 1)
                                        {

                                            <a href="Edit?MotorID=@item.InsuranceID">
                                                <i class="fas fa-pencil-alt pointer" aria-hidden="true"></i>
                                            </a>
                                        }
                                    </td>

                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>
<!-- sample modal content -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Premium Sheet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-5 mx-auto">
                        <form id="formRenewal" class="form-horizontal">
                            <div class="form-group row mb-3">
                                <input type="hidden" name="InsuranceID" id="InsuranceID">
                                <label for="inputEmail3" class="col-3 col-form-label">Division Code</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" readonly name="DivisionCode" required id="txtDivisionCode">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Division Name</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" readonly name="DivisionName" required id="txtDivisionName">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Product Code</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" readonly name="ProductCode" required id="txtProductCode">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Product Name</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" readonly name="ProductName" required id="txtProductName">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Business Type</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" readonly name="BusinessType" required id="txtBusinessType">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Policy No</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" readonly name="PolicyNo" required id="txtPolicyNo">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Assured Name</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" readonly name="AssuredName" required id="txtAssuredName">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Assured Mobile</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" readonly name="AssuredMobile" required id="txtAssuredMobile">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Customer Name</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" readonly name="CustomerName" required id="txtCustomerName">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Source Code</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" readonly name="SourceCode" required id="txtSourceCode">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Source Name</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" readonly name="SourceName" required id="txtSourceName">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Customer Category</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" readonly name="CustomerCategory" required id="txtCustomerCategory">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Policy From Date</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" readonly name="PolicyFromDate" required id="PolicyFromDate">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Policy To Date</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" readonly name="PolicyToDate" required id="PolicyToDate">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Gross Premium</label>
                                <div class="col-9">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">₹</span>
                                        </div>
                                        <input type="number" class="form-control form-control-sm" name="GrossPremium" required id="txtGrossPremium">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Revised SumInsured</label>
                                <div class="col-9">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">₹</span>
                                        </div>
                                        <input type="number" class="form-control form-control-sm" name="RevisedSumInsured" required id="txtRevisedSumInsured">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Renewal Premium</label>
                                <div class="col-9">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">₹</span>
                                        </div>
                                        <input type="number" class="form-control form-control-sm" name="RenewalPremium" required id="txtRenewalPremium">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Marketing Executive</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" readonly name="MarketingExecutive" required id="txtMarketingExecutive">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Remarks</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" readonly name="Remarks" required id="txtRemarks">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Customer Code</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" readonly name="CustomerCode" required id="txtCustomerCode">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Charges</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" readonly name="Charges" required id="txtCharges">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Insurance Type</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" readonly name="InsuranceType" required id="txtInsuranceType">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Status</label>
                                <div class="col-9">
                                    <select class="form-control form-control-sm" id="txtStatus" name="Status" required="required">
                                        <option disabled selected> -- Select an option -- </option>
                                        <option>Renewed</option>
                                        <option>Lost</option>
                                        <option>Under Process</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="Description13" class="col-3 col-form-label">Description</label>
                                <div class="col-9">
                                    <textarea type="text" class="form-control form-control-sm" rows="3" name="Description" required id="txtDescription"></textarea>
                                </div>
                            </div>
                            <div class="form-group row mb-3 col-md-offset-4">
                                <div class="justify-content-center">
                                    <button type="button" data-dismiss="modal" class="btn btn-secondary btn-sm waves-effect">Close</button>
                                    <button type="button" id="btnRenewal" class="btn btn-primary btn-sm waves-effect waves-light">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-5 mx-auto">
                        <div>
                            <h4 class="primay-color mt-3 ">Call Details:</h4>
                        </div>
                        <div class="d-flex justify-content-between align-items-center call-section mb-5 mt-3">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1200px-Circle-icons-profile.svg.png" class="rounded-circle" alt="Cinque Terre" height="60">
                            <div>
                                <h4 class="my-0 primay-color">(319) 555-0115</h4>
                                <small class="text-muted font-13">Call to Alrene Fisher</small>
                            </div>
                            <div>
                                <i class="fa fa-microphone font-20 text-muted mr-2 pointer"></i>
                                <i class="fa fa-history font-20 text-muted ml-2 pointer"></i>
                            </div>
                            <button type="button" class="btn btn-success btn-circle btn-xl btn-large pointer">
                                <i class="fa fa-phone"></i>
                            </button>
                        </div>
                        <div>
                            <h6 class="primay-color">Alrene Fisher Details:</h6>
                        </div>
                        <div class="text-muted mb-4 ">Voicemain</div>
                        <audio controls preload="metadata" style=" width:100%;">
                            <source src="" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                        <div class="row">
                            <div class="col-12">
                                <label for="NotesContainer" class="control-label text-muted mt-4">Alrene Fisher Notes</label>
                                <textarea class="form-control form-control-sm" id="NotesContainer" rows="10" placeholder="Notes">Alrene Fisher requested a call back on Tomorrow Morning 10:30 AM.
                        </textarea>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
           
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="uploadBulk" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="uploadBulkLabel">Upload Bulk Policies</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-10 mx-auto">
                        <div class="text-right">
                            <a href="~/MasterUploads/NewBulkUpload.xlsx" class="btn btn-dark btn-sm" download>
                                <i class="fas fa-download fa-sm"></i> Download Sample format
                            </a>
                        </div>
                        @*
                            <form method="post" enctype="multipart/form-data">
                        *@
                        <div class="fileuploader fileuploader-theme-dragdrop">
                            @*
                                <input type="file" name="postedFile" id="fileUploadMotor" accept=".xls,.xlsx" />
                                <input type="hidden" id="txtMotorMaster" name="txtMotorMaster" value="1">*@
                            <input type="hidden" id="uploadFilesInptHdn" name="fileuploader-list-files" value="[]">
                            <input type="file" id="uploadFilesInpt" name="files[]" multiple="multiple" style="position: absolute; z-index: -9999; height: 0px; width: 0px; padding: 0px; margin: 0px; line-height: 0; outline: 0px; border: 0px; opacity: 0;">
                            <div class="fileuploader-input">
                                <div class="fileuploader-input-inner">
                                    <div class="fileuploader-icon-main"></div>
                                    <h3 class="fileuploader-input-caption">
                                        <span>Drag and drop files here</span>
                                    </h3>
                                    <p></p>
                                    <button type="button" class="fileuploader-input-button">
                                        <span>Browse files</span>
                                    </button>
                                </div>
                            </div>
                            <div class="fileuploader-items">
                                <ul class="fileuploader-items-list">
                                    <li class="fileuploader-item file-type-application file-ext-xlsx file-has-popup upload-successful">
                                        <div id="fileContainer" class="columns" style="display: none;">
                                            <div class="column-thumbnail">
                                                <div class="fileuploader-item-image fileuploader-no-thumbnail">
                                                    <div style="background-color: #591605" class="fileuploader-item-icon">
                                                        <i>xlsx</i>
                                                    </div>
                                                </div>
                                                <span class="fileuploader-action-popup"></span>
                                            </div>
                                            <div class="column-title">
                                                <div id="fileName">SampleFile.xlsx</div>
                                                <span id="fileSize">0 KB</span>
                                            </div>
                                            <div class="column-actions">
                                                <button type="button" id="clearFiles" class="btn btn-success btn-sm round" title="Delete">
                                                    <i class="fas fa-check fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="progress-bar2" style="display: none;">
                                            <div class="fileuploader-progressbar">
                                                <div class="bar" style="width: 100%;"></div>
                                            </div>
                                            <span>100%</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="mt-2">
                                <button id="btnUpload" type="submit" class="btn btn-success btn-block">
                                    <i class="fas fa-upload fa-sm"></i>
                                    <span>Upload</span>
                                </button>
                            </div>
                        </div>
                        @*
                            </form>
                        *@
                    </div>
                </div>
            </div>
            @*
                <div class="modal-footer justify-content-center">
                   <button type="button" class="btn btn-secondary btn-sm waves-effect" data-dismiss="modal">Close</button>
                   <button type="button" class="btn btn-primary btn-sm waves-effect waves-light">Renew</button>
                </div>
            *@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    $(document).ready(function () {
        function submitForm() {

        }
        $('#btnSubmit').on('click', function () {
            // Get the first form with the name
            // Usually the form name is not repeated
            // but duplicate names are possible in HTML
            // Therefore to work around the issue, enforce the correct index
            var frm = document.getElementsByName('MotorForm')[0];
            frm.submit(); // Submit the form
            frm.reset();  // Reset all form data
            return false; // Prevent page refresh
            alert('test');

        });
        $('#btnClear').on('click', function () {
            window.location.href = "/Home/MasterDatabase" //in your case, /employee/empl

        });
        $('#btnUpload').click(function () {

            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {

                var fileUpload = $("#fileUploadMotor").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                // Adding one more key to FormData object
                fileData.append('txtMotorMaster', '1');

                $.ajax({
                    url: '/Home/UploadFiles',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        //alert(result);
                        //window.location.href = "MasterDatabase";
                        if (result == 1) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: "File Doesn't belongs to Motor Policy",
                            });
                        }
                        if (result == -3) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: "File which you trying to upload is incorrect.!",
                            });
                        }
                        if (result == "success") {

                            Swal.fire({
                                icon: 'success',
                                title: 'Success!',
                                text: "File Uploaded Successfully!",

                            }).then(
                                function () { window.location.href = "MasterDatabase"; });
                        }
                        if (result == "same") {
                            Swal.fire({
                                icon: 'warning',
                                title: 'Warning!',
                                text: "All the Records already exists. Try uploading new data.",
                            }).then(
                                function () { window.location.href = "MasterDatabase"; });
                        }
                    },
                    error: function (err) {
                        //alert(err.statusText);
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: err.statusText,
                        })
                    }
                });
            } else {
                Swal.fire({
                    icon: 'warning',
                    title: 'Oops...',
                    text: "FormData is not supported.",
                })
            }
        });
        $('.fileuploader-input').click(function () {
            $("#fileUploadMotor").click();

        });
        $('#clearFiles').click(function () {
            $("#fileContainer").hide();
            $('#fileUploadMotor').val('');
            $("#btnUpload").attr("disabled", "disabled");
        });
        $('#clearFiles').hover(
            function () {
                $('#clearFiles').removeClass("btn-success").addClass("btn-danger");
                $('#clearFiles .fas').removeClass("fa-check").addClass("fa-trash");
            },
            function () {
                $('#clearFiles').removeClass("btn-danger").addClass("btn-success");
                $('#clearFiles .fas').removeClass("fa-trash").addClass("fa-check");
            });
        $('#fileUploadMotor').change(function (e) {
            var fileName = e.target.files[0].name;
            var fileSize = e.target.files[0].size;
            $("#fileContainer").show();
            $("#fileName").html(fileName);
            fileSize = (fileSize / 1024).toFixed(2);
            $("#fileSize").html(fileSize + " KB");
            //if (document.getElementById("fileUploadMotor").files.length == 0) {
            $("#btnUpload").removeAttr("disabled", "disabled");
            //}
            //alert('The file "' + fileName + '" has been selected.');
        });
    });
    function renewal(MotorId) {
        
        // $('#myModal').modal('show');
        Id = MotorId;
        $.ajax({
            url: '/Home/EditModal/?InsId=' + MotorId, // The method name + paramater
            success: function (data) {

                //$('#VehicleType').val(data.VehicleType)
                //$('#VehicleMake').val(data.MakeModel)
                //$('#RegistrationNo').val(data.RegistrationNo)
                //$('#VehicleYear').val(data.YearofManufacture)
                //$('#EngineNo').val(data.EngineNo)
                //$('#ChassisNo').val(data.ChassisNo)
                //$('#NoofPassengers').val(data.SeatingCapacity)
                //$('#GEO').val(data.GeographicalArea)
                //$('#Mid').val(data.MotorId)
                //$('#SumInsured').val(data.SumInsured)
                //$('#PremiumAmount').val(data.PremiumAmount)
                //$('#RivisedSI').val(data.RivisedSI)
                //$('#CustomerCode').val(data.CustomerCode)
                //$('#CustomerName').val(data.CustomerName)
                //$('#Status').val(data.Status)
                $('#InsuranceID').val(data.InsuranceID);
                $('#txtDivisionCode').val(data.DivisionCode);
                $('#txtDivisionName').val(data.DivisionName);
                $('#txtProductCode').val(data.ProductCode);
                $('#txtProductName').val(data.ProductName);

                $('#txtBusinessType').val(data.BusinessType);

                $('#txtPolicyNo').val(data.PolicyNo);

                $('#txtAssuredName').val(data.AssuredName);

                $('#txtAssuredMobile').val(data.AssuredMobile);

                $('#txtCustomerName').val(data.CustomerName);

                $('#txtSourceCode').val(data.SourceCode);

                $('#txtSourceName').val(data.SourceName);

                $('#txtCustomerCategory').val(data.CustomerCategory);

                value = new Date(parseInt(data.PolicyFromDate.replace("/Date(", "").replace(")/", ""), 10));
                //Fromvalue = value.toDateString()
                Fromvalue = value.toISOString();

                //var Str =
                //    ("00" + (value.getDate())).slice(-2)
                //    + "-" + ("00" + value.getMonth()+1).slice(-2)
                //    + "-" + value.getFullYear();
                var Str =

                    ("00" + value.getDate()).slice(-2)
                    + "-" + ("00" + (value.getMonth() + 1)).slice(-2)
                    + "-" + value.getFullYear()

                $('#PolicyFromDate').val(Str);

                valuee = new Date(parseInt(data.PolicyToDate.replace("/Date(", "").replace(")/", ""), 10));
                //Tovalue = valuee.toDateString()
                var ToStr =
                    ("00" + valuee.getDate()).slice(-2)
                    + "-" + ("00" + (valuee.getMonth() + 1)).slice(-2)
                    + "-" + valuee.getFullYear()
                $('#PolicyToDate').val(ToStr);

                $('#txtGrossPremium').val(data.GrossPremium);

                $('#txtRevisedSumInsured').val(data.RevisedSumInsured);

                $('#txtRenewalPremium').val(data.RenewalPremium);

                $('#txtMarketingExecutive').val(data.MarketingExecutive);

                $('#txtRemarks').val(data.Remarks);
                $('#txtCustomerCode').val(data.CustomerCode);
                $('#txtCharges').val(data.Charges);
                $('#txtInsuranceType').val(data.InsType);
                $('#txtStatus').val(data.Status);
                $('#txtDescription').val(data.Description);
                

                // $('#myModal').html(data); // This should be an empty div where you can inject your new html (the partial view)
            }
        });
    }


    $(document).ready(function () {
        $('#btnRenewal').on('click', function () {
            var renewalData = $('#formRenewal').serialize();
            $.ajax({

                type: "POST",
                url: "/Home/UpdateMotorIns",
                dataType: "json",
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: renewalData,
                success: function (res) {
                    if (res > 0) {
                        Swal.fire({
                            icon: 'success',
                            title: '',
                            text: "Data Submitted Successfully.",
                        })
                    }
                    else if (res == -2) {
                        Swal.fire({
                            icon: 'warning',
                            title: '',
                            text: "Please provide all mandatory fields.",
                        })
                        //alert('Please provide all mandatory fields')
                        return false;
                    }
                    $('#formRenewal').reset();
                },
                error: function () {
                    // $("#lblMessage").html('Error while Registring the Company!.');
                    $('#formRenewal').reset();
                }
            })
        });
    });

    $(document).ready(function () {
        $('#btnSearch').on('click', function () {
            var formData = $('#MotorForm').serialize();
            $.ajax({

                type: "GET",
                url: "/Home/SearchMotor",
                dataType: "json",
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: formData,
                success: function (res) {
                    $("#tblMotor tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(formData) > -1)
                    });

                },
                error: function () {
                    // $("#lblMessage").html('Error while Registring the Company!.');
                }
            })
        });
    });
    //  $(document).ready(function () {
    //$("#PolicyNo").on("keyup", function () {
    //    var value = $(this).val().toLowerCase();
    //    $("#tblMotor tr").filter(function () {
    //        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    //    });
    //});
    //$("#EndorsementNo").on("keyup", function () {
    //    var value = $(this).val().toLowerCase();
    //    $("#tblMotor tr").filter(function () {
    //        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    //    });
    //});
    //$("#AssuredName").on("keyup", function () {
    //    var value = $(this).val().toLowerCase();
    //    $("#tblMotor tr").filter(function () {
    //        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    //    });
    //});
    //$("#MobileNo").on("keyup", function () {
    //    var value = $(this).val().toLowerCase();
    //    $("#tblMotor tr").filter(function () {
    //        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    //    });
    //});

    // });
    window.onload = function () {
        var btn = document.getElementById('uploadBtn'),
            progressBar = document.getElementById('progressBar'),
            progressOuter = document.getElementById('progressOuter'),
            msgBox = document.getElementById('msgBox');
        var fileUpload = $("#fileUploadMotor").get(0);
        var files = fileUpload.files;
        var files = fileUpload.files;

        // Create FormData object
        var fileData = new FormData();
        $("#btnUpload").attr("disabled", "disabled");
        // Looping over all files and add it to FormData object
        for (var i = 0; i < files.length; i++) {
            fileData.append(files[i].name, files[i]);
        }
        $('#tblMotor').DataTable({
            dom: 'Bfrtip',
            buttons: {
                buttons: [
                    {
                        extend: 'csv',
                        className: 'btn btn-sm btn-primary',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'pdf',
                        className: 'btn btn-sm btn-primary',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    }
                ]
            }
        });
        // Adding one more key to FormData object
        fileData.append('txtMotorMaster', '1');
        var uploader = new ss.SimpleUpload({
            button: btn,
            url: '/Home/UploadFiles',
            multipart: true,
            data: fileData,
            hoverClass: 'hover',
            focusClass: 'focus',
            responseType: 'json',
            startXHR: function () {
                progressOuter.style.display = 'block'; // make progress bar visible
                this.setProgressBar(progressBar);
            },
            onSubmit: function () {
                msgBox.innerHTML = ''; // empty the message box
                btn.innerHTML = 'Uploading...'; // change button text to "Uploading..."
            },
            onComplete: function (filename, response) {

                btn.innerHTML = 'Choose Another File';
                progressOuter.style.display = 'none'; // hide progress bar when upload is completed

                if (!response) {
                    msgBox.innerHTML = 'Unable to upload file';
                    return;
                }

                if (response.success === true) {
                    msgBox.innerHTML = '< strong > ' + escapeTags(filename) + '</strong > ' + ' successfully uploaded.';

                } else {
                    if (response.msg) {
                        msgBox.innerHTML = escapeTags(response.msg);

                    } else {
                        msgBox.innerHTML = 'An error occurred and the upload failed.';
                    }
                }
            },
            onError: function () {
                progressOuter.style.display = 'none';
                msgBox.innerHTML = 'Unable to upload file';
            }
        });

    };



</script>
