@model IEnumerable<MotorApp.BusinessEntities.DomesticModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Master Domestic</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./">Home</a></li>
        <li class="breadcrumb-item">Masters</li>
        <li class="breadcrumb-item active" aria-current="page">Master Domestic</li>
    </ol>
</div>
<div class="row">
    <div class="col-lg-12 mb-4">
        <div class="card mb-3">
            <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Search</h6>
            </div>
            <form id="DomesticForm">
                <div class="card-body">
                    <div class="row">
                        @using (Html.BeginForm("MasterDomestic", "Home", FormMethod.Get))
                        {

                            <div class="col-2">
                                <input class="form-control form-control-sm  mb-3" name="PolicyNo" type="text" placeholder="Policy No">

                            </div>
                            <div class="col-2">
                                <input class="form-control form-control-sm  mb-3" name="Broker_AgentCode" type="text" placeholder="Producer Name">
                            </div>
                            <div class="col-2">
                                <input class="form-control form-control-sm  mb-3" name="AssuredName" type="text" placeholder="Assured Name">
                            </div>


                            <div class="col-2">
                                <input class="form-control form-control-sm  mb-3" name="Branch" type="text" placeholder="Branch">
                            </div>
                            <div class="col-2">
                                <select class="form-control form-control-sm" name="Status" required="required">
                                    <option disabled selected> -- select an option -- </option>
                                    <option>Completed</option>
                                    <option>Dropped</option>
                                    <option>On Hold</option>
                                </select>
                            </div>
                            <div class="col-2 text-center">

                                <input class="btn btn-primary btn-sm" type="submit" value="Search" />
                            </div>
                        }
                    </div>
                </div>
            </form>
        </div>
        <!-- Simple Tables -->
        <div class="card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">List of Domestic Policies</h6>
                <div class="d-none">
                    <input type="file" name="postedFile" id="fileUploadDomestic" accept=".xls,.xlsx" />
                    @*<button type="submit" id="btnUpload" class="btn btn-success btn-sm waves-effect">Upload Data</button>*@
                </div>
                <div>
                    <a class="btn btn-primary btn-sm mx-1" href="InsertDomesticIns">
                        <i class="fas fa-user-plus fa-sm"></i> Add
                        Single Policy
                    </a>
                    <button class="btn btn-primary btn-sm mx-1" type="button" data-toggle="modal"
                            data-target="#uploadBulk">
                        <i class="fas fa-upload fa-sm"></i> Bulk Upload Policy
                    </button>
                    <button class="btn btn-primary btn-sm mx-1" type="button">
                        <i class="fas fa-download fa-sm"></i>
                        Download Policy
                    </button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <tr>
                        <th>Policy No</th>
                        <th>Producer Name</th>
                        <th>Assured Name</th>
                        <th>Mobile Number</th>
                        <th>Branch</th>
                        <th>Status</th>
                        <th>Actions</th>

                    </tr>
                    @if (Model.Count() == 0)
                    {

                        <tr>
                            <td colspan="5">
                                No record found
                            </td>
                        </tr>

                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.PolicyNo)</td>
                                <td>@Html.DisplayFor(modelItem => item.Broker_AgentCode)</td>
                                <td>@Html.DisplayFor(modelItem => item.AssuredName)</td>
                                <td>@Html.DisplayFor(modelItem => item.MobileNo)</td>
                                <td>@Html.DisplayFor(modelItem => item.Branch)</td>

                                @if (item.Status.Equals("Completed"))
                                {
                                    <td><span class="badge badge-success">@Html.DisplayFor(modelItem => item.Status)</span></td>
                                }
                                @if (item.Status.Equals("Dropped"))
                                {
                                    <td><span class="badge badge-danger">@Html.DisplayFor(modelItem => item.Status)</span></td>
                                }
                                @if (item.Status.Equals("On Hold"))
                                {
                                    <td><span class="badge badge-info">@Html.DisplayFor(modelItem => item.Status)</span></td>
                                }
                                @if (item.Status.Equals(""))
                                {
                                    <td><span class="badge badge-info"></span></td>
                                }
                                <td class="d-flex flex-row align-items-center justify-content-between">
                                    <i class="fas fa-eye pointer" aria-hidden="true" data-toggle="modal"
                                       data-target="#myModal" onclick="renewal(@item.DomesticId)">
                                    </i>
                                    <a href="EditDomesticIns?id=@item.DomesticId"><i class="fas fa-pencil-alt pointer" aria-hidden="true"></i></a>
                                </td>

                            </tr>
                        }
                    }
                </table>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>
<!-- sample modal content -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Premium Sheet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-8 mx-auto">
                        <form id="formRenewal" class="form-horizontal">
                            <div class="form-group row mb-3">
                                <input type="hidden" name="MotorId" id="Mid">
                                <label for="inputEmail3" class="col-3 col-form-label">Customer Code</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" name="CustomerCode" required id="CustomerCode">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Customer Name</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" name="CustomerName" id="CustomerName">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Vehicle Type</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" name="VehicleType" id="VehicleType"
                                           readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Vehicle Make</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" name="VehicleMake" id="VehicleMake"
                                           readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Registration No</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" name="RegistrationNo" id="RegistrationNo"
                                           readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Vehicle Year</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" name="VehicleYear" id="VehicleYear" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Engine No</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" name="EngineNo" id="EngineNo" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Chassis No</label>
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm" name="ChassisNo" id="ChassisNo"
                                           readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Sum Insured</label>
                                <div class="col-9">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">₹</span>
                                        </div>
                                        <input type="text" class="form-control form-control-sm" name="SumInsured" id="SumInsured">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Premium</label>
                                <div class="col-9">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">₹</span>
                                        </div>
                                        <input type="text" class="form-control form-control-sm" name="PremiumAmount" id="PremiumAmount">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Revised SI(85%)</label>
                                <div class="col-9">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">₹</span>
                                        </div>
                                        <input type="text" class="form-control form-control-sm" name="RivisedSI" id="RivisedSI">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="inputEmail3" class="col-3 col-form-label">Status</label>
                                <div class="col-9">
                                    <select class="form-control form-control-sm" id="status" name="status" required="required">
                                        <option disabled selected> -- select an option -- </option>
                                        <option>Completed</option>
                                        <option>Dropped</option>
                                        <option>On Hold</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary btn-sm waves-effect" data-dismiss="modal">Close</button>
                <button type="button" id="btnRenewal" class="btn btn-primary btn-sm waves-effect waves-light">Renew</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="uploadBulk" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="uploadBulkLabel">Upload Bulk Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-10 mx-auto">
                        <div class="text-right">
                            <a href="~/MasterUploads/MotorBulkUpload.xlsx" class="btn btn-dark btn-sm" download><i class="fas fa-download fa-sm"></i> Download Sample format</a>
                        </div>
                        @*<form method="post" enctype="multipart/form-data">*@
                        <div class="fileuploader fileuploader-theme-dragdrop">
                            @*<input type="file" name="postedFile" id="fileUploadDomestic" accept=".xls,.xlsx" />
                                <input type="hidden" id="txtMotorMaster" name="txtMotorMaster" value="1">*@
                            <input type="hidden" name="fileuploader-list-files" value="[]">
                            <input type="file" name="files[]" multiple="multiple" style="position: absolute; z-index: -9999; height: 0px; width: 0px; padding: 0px; margin: 0px; line-height: 0; outline: 0px; border: 0px; opacity: 0;">
                            <div class="fileuploader-input">
                                <div class="fileuploader-input-inner">
                                    <div class="fileuploader-icon-main"></div>
                                    <h3 class="fileuploader-input-caption">
                                        <span>Drag and drop files here</span>
                                    </h3>
                                    <p> </p>
                                    <button type="button" class="fileuploader-input-button">
                                        <span>Browse files</span>
                                    </button>
                                </div>
                            </div>
                            <div class="fileuploader-items">
                                <ul class="fileuploader-items-list">
                                    <li class="fileuploader-item file-type-application file-ext-xlsx file-has-popup upload-successful">
                                        <div id="fileContainer" class="columns" style="display: none;">
                                            <div class="column-thumbnail">
                                                <div class="fileuploader-item-image fileuploader-no-thumbnail">
                                                    <div style="background-color: #591605" class="fileuploader-item-icon"><i>xlsx</i></div>
                                                </div>
                                                <span class="fileuploader-action-popup"></span>
                                            </div>
                                            <div class="column-title">
                                                <div id="fileName">SampleFile.xlsx</div>
                                                <span id="fileSize">0 KB</span>
                                            </div>
                                            <div class="column-actions">
                                                <button type="button" id="clearFiles" class="btn btn-success btn-sm round" title="Delete">
                                                    <i class="fas fa-check fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="progress-bar2" style="display: none;">
                                            <div class="fileuploader-progressbar">
                                                <div class="bar" style="width: 100%;"></div>
                                            </div>
                                            <span>100%</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="mt-2">
                                <button id="btnUpload" type="submit" class="btn btn-success btn-block">
                                    <i class="fas fa-upload fa-sm"></i><span>Upload</span>
                                </button>
                            </div>
                        </div>
                        @*</form>*@
                    </div>
                </div>
            </div>
            @*<div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary btn-sm waves-effect" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-sm waves-effect waves-light">Renew</button>
                </div>*@
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script>
    $(document).ready(function () {
        $('#btnUpload').click(function () {

            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {

                var fileUpload = $("#fileUploadDomestic").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                // Adding one more key to FormData object
                fileData.append('txtMotorMaster', '4');

                $.ajax({
                    url: '/Home/UploadFiles',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        //alert(result);
                        //window.location.href = "MasterDomestic";
                        if (result == 4) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: "File Doesn't belongs to Domestic Policy",

                            })
                        }
                        if (result == "success") {

                            Swal.fire({
                                icon: 'success',
                                title: 'Success!',
                                text: "File Uploaded Successfully!",

                            }).then(
                                function () { window.location.href = "MasterDomestic"; });
                        }
                        if (result == "same") {
                            Swal.fire({
                                icon: 'warning',
                                title: 'Warning!',
                                text: "All the Records already exists. Try uploading new data.",
                            }).then(
                                function () { window.location.href = "MasterDomestic"; });
                        }
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });
        $('.fileuploader-input').click(function () {
            $("#fileUploadDomestic").click();
        });
        $('#clearFiles').click(function () {
            $("#fileContainer").hide();
            $('#fileUploadDomestic').val('');
        });
        $('#clearFiles').hover(
            function () {
                $('#clearFiles').removeClass("btn-success").addClass("btn-danger");
                $('#clearFiles .fas').removeClass("fa-check").addClass("fa-trash");
            },
            function () {
                $('#clearFiles').removeClass("btn-danger").addClass("btn-success");
                $('#clearFiles .fas').removeClass("fa-trash").addClass("fa-check");
            });
        $('#fileUploadDomestic').change(function (e) {
            var fileName = e.target.files[0].name;
            var fileSize = e.target.files[0].size;
            $("#fileContainer").show();
            $("#fileName").html(fileName);
            fileSize = (fileSize / 1024).toFixed(2);
            $("#fileSize").html(fileSize + " KB");

            //alert('The file "' + fileName + '" has been selected.');
        });
    });
</script>